.danfo{
    font-family: "danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "ELSH" 0;
  }
.optionsss{
    display: none;
}
.options{
    display: block;
}
.options:hover .optionsss{
    display: block;
}
h1{
    background-color: aliceblue;
    font-size: 100px;
}
#my-id{
    color: blue;
}

.my-color{
    color: red;
}
marquee {
    border-style: dashed;
    border-width: 5px;
    border-color: red green blue yellow;
}
img{
    width: 60px;
}
table{
    border-color: black;
    border-style: dashed;
    width: 100%;
    border-collapse: collapse;
}
th{
    background-color: blue;
    color: white;
    border-color: blueviolet;
    border-style: dashed;
}
td{
    background-color: lightblue;
    border-color: blueviolet;
    border-style: dashed;
}